.home-container {
  /* border: 2px solid blue; */

  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.background-image {
  /* border: 2px solid red; */

  height: 95vh;
}

.infos {
  /* border: 2px solid green; */

  display: flex;
  width: 100%;
  flex-direction: column;
}

.infos-search {
  /* border: 2px solid purple; */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 40px 40px 10px;
  padding: 20px;

  input {
    outline: none;
    background: transparent;
    border: 2px solid rgb(85, 85, 85);

    margin: 0 30px;
    padding: 10px;
    border-radius: 40px;
    color: white;

    min-width: 300px;
    width: 40%;
  }

  button {
    background: transparent;
    border: 2px solid rgb(121, 121, 121);
    padding: 10px;
    width: 85px;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: rgb(118, 118, 118);
      transition: all 0.1s ease-in-out;
    }
  }
}

.infos-profile {
  /* border: 2px solid orange; */

  display: flex;
  margin: 20px 40px 20px;
  padding: 30px;

  img {
    margin: 20px;
    padding: 5px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid rgb(141, 141, 141);
    margin-bottom: 20px;
  }
}

.infos-profile-text {
  /* border: 2px solid yellow; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 20px;
  gap: 15px;

  color: rgb(216, 216, 216);
}

.infos-profile-text-title {
  h2 {
    color: white;
    font-size: 30px;
  }

  h4 {
    color: rgb(156, 156, 156);
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.infos-repositories {
  /* border: 2px solid pink; */

  display: flex;
  flex-direction: column;
  margin: 20px 40px 20px;
  padding: 10px;

  justify-content: center;
  align-items: center;

  /* overflow-y: auto; */

  h3 {
    color: white;
    font-size: 24px;
    margin-bottom: 15px;
  }
}

.message {
  color: white;
  margin: 20px 40px;
  text-align: center;
}

.infos-repositories-list {
  /* border: 2px solid purple; */

  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(121, 121, 121);
    border-radius: 10px;
  }
}
